body{
    background-color: #1f2937;
    background-size: 100%;
    margin: 0 0 0 0;
    color: white;
}

#logo img {
    width: 170px;
}

header a{
    text-decoration: none;
    color: white;
}

header{
    font-size: 15px;
    display: flex;
    margin-top: -20px;
    padding: 0 130px ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    gap: 30px;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}


.left img {
    height: 400px;
}

hP1 {
    font-size: 80px;
}

.firsth1{
    margin-bottom: -50px;
}

.sech1 {
    margin-bottom: -10px;
}

.container1 p {
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;  
}

#btn {
    background-color: #3882f6;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-left: 6px;
}

#maincontainertwo {
    background-color: white;
    color: rgb(77, 74, 74);
    padding-bottom: 150px;
}

.container2 {
    display: flex;
    margin-top: 100px;
    justify-content: center;

}

.album {
    text-align: center;
}

.album p{
    margin-top: -10px;
}


.container2 img {
    width:190px ;
    height: 190px;
    border: 6px solid #3882f6;
    border-radius: 10px;
    margin:15px;
    margin-bottom: -2px;
}

.titlesec2{
    margin-top: 120px;
    padding-top: 90px;
    margin-bottom: -80px;
    text-align: center;
    font-size: 30px;
    color: #1f2937;
}

#maincontainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    margin-top: 90px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.author {
    margin-bottom: 90px;
    margin-top: -20px;
    font-size: 30px;
}

#maincont4 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: white;
}

#mainsection4{
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid 4px;
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px ;
    
}

.btn2 a {
    text-decoration: none;
    color: white;
}

.btn2 {
    border: white solid;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

#footer {
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}

